# Fichiers de build
/target/
*.class

# Fichiers Eclipse / IntelliJ
/.idea/
/*.iml
/.classpath
/.project
/.settings/

# Logs
*.log

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers générés par Maven
/.mvn/wrapper/maven-wrapper.jar

# Configuration locale (hors projet)
/application.properties
/application.yml
